<div class="col-xs-6">
    <div class="row">
        <div class="col-xs-12">
            <p class="text-right"><%= link_to "Editar perfil", edit_shelter_animal_path(shelter, animal) %></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            imagem
        </div>
        <div class="col-xs-8">
            <p><%= animal.name %></p>
            <p>TODO sex</p>
            <p>TODO tipo</p>
            <p><%= animal.animal_description %></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            Vezes favoritados
        </div>

        <div class="col-xs-4">
            Adicionar fotos
        </div>

        <div class="col-xs-4">
            <%= link_to "Ver Perfil", shelter_animal_path(shelter, animal) %>
        </div>
    </div>
</div>