<div class="row">
  <% @photos.each do |photo| %>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag(photo.file.url(:thumb), size: "100x100") %>
      </a>
    </div>
  <% end %>
</div>

<%= link_to("Adicionar photo", url_for([:new, @resource, :photo]), class: "btn btn-primary") %>